<nav id="menu">
<h2>Menu</h2>
<ul>
    <li><%= link_to 'Home', 'index' %></li>
    
    <li><%= link_to 'Generic', 'generic' %></li>
    
    <li><%= link_to 'Elements', 'elements' %>
    </li>
    <li><a href="generic.html">Consequat dolor</a></li>
    <li><a href="elements.html">Elements</a></li>
</ul>
</nav>